.input-padrao{
  display: block;
  margin:  0 0 10px;
  padding: 10px 25px;
  width: 20%;
}
#radio-Adm{
    display: block;
    vertical-align: left;
}
#radio-Dsis{
    display: block;
    vertical-align: left;
}
#radio-Docentes{
   display: block;
   vertical-align: left;
  }
table{
  margin: 20px 0 40px;
}
thead{
  background: #363636;
  color: white;
  font-weight: bold;
}
td, th{
  border: 1px solid #000000;
  padding: 8px 15px;
}